<mat-form-field
  class="my-input-form-field"
  appearance="outline"
  [ngStyle]="{ width: width ? width : 'inherit' }"
>
  <!-- TODO: add only characters directive -->
  <input matInput type="text" [formControl]="control" />
  <button
    *ngIf="control.value"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="control.setValue('')"
    class="clear-button"
  >
    <mat-icon>close_no_outline</mat-icon>
  </button>
  <mat-error *ngIf="control.errors">
    <!-- TODO: add logic to change error message depending on errors -->
    <span *ngIf="control.hasError('locationError')">City not found</span>
    <span *ngIf="control.hasError('weatherError')">Weather Error</span>
  </mat-error>
</mat-form-field>
