/* ::ng-deep .mat-form-field .mat-form-field-flex{
  border-width: 1px;
  border-radius: 3px;
  color: black;
}
::ng-deep .mat-form-field .mat-form-field-underline{
  display: none;
} */

.clear-button{
  border: none !important;
  border-radius: 20px !important;
}