<div class="time-container">time placeholder</div>
<div class="weather-images-container">
  <div>
    <i class="wi wi-night-sleet" style="font-size: 80px; margin: 15px"></i
    ><span style="font-size: 40px; font-weight: bolder">72</span>
  </div>
  <div class="degree-ind">&#176;F</div>
</div>
<div class="text-desc">Cloudy</div>
<div class="humid-and-wind">
  <div class="humid">
    <div>Humidity</div>
    <div>45%</div>
  </div>
  <div class="wind">
    <div>Wind Speed</div>
    <div>19.2 km/h</div>
  </div>
</div>
