.weather-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.weather-main-container :first-child {
  width: 40%;
}
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.input-container :first-child {
  padding: 10px;
  padding-top: 15px;
  font-size: 16px;
  font-weight: bold;
}
.wait-spinner mat-spinner {
  width: 100%;
  margin: auto;
}
