.outer-container{
  width: 100%;
  height: 100%;
  background-color: rgb(179, 229, 252);
}
.main-container{
  position: relative;
  padding: 20px;
  width: 900px;
  height: 400px;
  margin: auto;
  background-color: white;
  box-shadow: 0 3px 6px rgba(black, 0.16), 0 3px 6px rgba(black, 0.23);
  top: calc(calc(100% - 400px) / 2);
}
.weather-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.weather-main-container :first-child {
  width: 40%;
}
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.input-container :first-child {
  padding: 10px;
  padding-top: 15px;
  font-size: 16px;
  font-weight: bold;
}
.wait-spinner mat-spinner {
  width: 100%;
  margin: auto;
}
