<div class="chart-main-container">
  chart placeholder
  <div></div>
  <div class="widget-container">
    <div>
      <div>Today</div>
      <div>
        <i class="wi wi-night-sleet" style="font-size: 80px; margin: 15px"></i>
      </div>
      <div>Humidity</div>
      <div>30%</div>
    </div>
    <div>
      <div>Today</div>
      <div>
        <i class="wi wi-night-sleet" style="font-size: 80px; margin: 15px"></i>
      </div>
      <div>Humidity</div>
      <div>30%</div>
    </div>
    <div>
      <div>Today</div>
      <div>
        <i class="wi wi-night-sleet" style="font-size: 80px; margin: 15px"></i>
      </div>
      <div>Humidity</div>
      <div>30%</div>
    </div>
    <div>
      <div>Today</div>
      <div>
        <i class="wi wi-night-sleet" style="font-size: 80px; margin: 15px"></i>
      </div>
      <div>Humidity</div>
      <div>30%</div>
    </div>
  </div>
</div>
