@use '@angular/material' as mat;
@import "./weather-icon/css/weather-icons-wind.min.css";
@import "./weather-icon/css/weather-icons.min.css";
@import "~@angular/material/theming";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


// LIGHT
$custom-app-light-primary: mat-palette(mat.$indigo-palette);
$custom-app-light-accent: mat-palette(mat.$pink-palette, A200, A100, A400);
$custom-app-light-warn: mat-palette(mat.$red-palette);

$custom-app-light-theme: mat-light-theme(
  $custom-app-light-primary,
  $custom-app-light-accent,
  $custom-app-light-warn
);
@include angular-material-theme($custom-app-light-theme);

// DARK
// TODO: add dark theme, currently it is the same as light
$custom-app-dark-primary: mat-palette(mat.$indigo-palette);
$custom-app-dark-accent: mat-palette(mat.$pink-palette, A200, A100, A400);
$custom-app-dark-warn: mat-palette($mat-red);

$custom-app-dark-theme: mat-dark-theme(
  $custom-app-dark-primary,
  $custom-app-dark-accent,
  $custom-app-dark-warn
);

.color-primary {
  background-color: mat-color($custom-app-light-primary);
  color: mat-color($custom-app-light-primary, default-contrast);
}

.color-accent {
  background-color: mat-color($custom-app-light-accent);
  color: mat-color($custom-app-light-accent, default-contrast);
}

.color-warn {
  background-color: mat-color($custom-app-light-warn);
  color: mat-color($custom-app-light-warn, default-contrast);
}

.dark-theme {
  @include angular-material-theme($custom-app-dark-theme);

  .color-primary {
    background-color: mat-color($custom-app-dark-primary);
    color: mat-color($custom-app-dark-primary, default-contrast);
  }

  .color-accent {
    background-color: mat-color($custom-app-dark-accent);
    color: mat-color($custom-app-dark-accent, default-contrast);
  }

  .color-warn {
    background-color: mat-color($custom-app-dark-warn);
    color: mat-color($custom-app-dark-warn, default-contrast);
  }
}

// remove input top hint(centerlize input text)
.mat-form-field-infix {
  border-top: 0;
}

// material style border-shadow, from https://codepen.io/dbox/pen/RawBEW
@mixin material-shadow($z-depth: 1, $strength: 1, $color: black) {
  @if $z-depth == 1 {
    box-shadow: 0 1px 3px rgba($color, $strength * 0.14), 0 1px 2px rgba($color, $strength * 0.24);
  }
  @if $z-depth == 2 {
    box-shadow: 0 3px 6px rgba($color, $strength * 0.16), 0 3px 6px rgba($color, $strength * 0.23);
  }  
  @if $z-depth == 3 {
    box-shadow: 0 10px 20px rgba($color, $strength * 0.19), 0 6px 6px rgba($color, $strength * 0.23);
  }    
  @if $z-depth == 4 {
    box-shadow: 0 15px 30px rgba($color, $strength * 0.25), 0 10px 10px rgba($color, $strength * 0.22);    
  }
  @if $z-depth == 5{
    box-shadow: 0 20px 40px rgba($color, $strength * 0.30), 0 15px 12px rgba($color, $strength * 0.22);   
  }
  @if ($z-depth < 1) or ($z-depth > 5) {
    @warn "$z-depth must be between 1 and 5";
  }
}
